<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Global Status</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
 <img src="https://i.gifer.com/YyBB.gif">
<ion-card>

  <ion-card-header>
                 

    <ion-card-subtitle>Latest live feed</ion-card-subtitle>
    <ion-card-title><b>Global Status</b></ion-card-title>
  </ion-card-header>

  <ion-card-content>
            <ion-chip  color="secondary" item-content>
  <ion-label class="chip"  color="warning">Confirmed: <b>{{confirmed}}</b> </ion-label>
</ion-chip>
   <ion-chip color="secondary" item-content>
  <ion-label class="chip" color="danger">Recovered: <b>{{recovered}}</b></ion-label>
</ion-chip>
   <ion-chip color="secondary" item-content>
  <ion-label class="chip" color="success">Deceased: <b>{{deaths}}</b> </ion-label>
</ion-chip>
  </ion-card-content>
</ion-card>


<ion-spinner *ngIf="countryArray.length === 0" name="lines"></ion-spinner>
<ion-grid>
  <ion-row  class="table">
    <ion-col >
      <div class="location">
        Location
      </div>
    </ion-col>
    <ion-col (click)="sortToggle('totalCases')">
      <div class="confirmed" >
        Confirmed
      </div>
    </ion-col>
    <ion-col (click)="sortToggle('recovered')">
      <div class="recovered" >
        Recovered
      </div>
    </ion-col>
    <ion-col (click)="sortToggle('deaths')">
      <div class="deceased" >
        Deaths
      </div>
    </ion-col>
  </ion-row>



<div  *ngFor="let country of dynamicGlobalArray">
    <hr id="divider">
    <ion-row class="table">
    <ion-col class="location">
      <div>
        {{country.name}}
      </div>
    </ion-col>
    <ion-col class="confirmed">
      <div style="float:right">
        {{country.confirmed}}
      </div>
    </ion-col>
    <ion-col class="recovered">
      <div style="float:right">
        {{country.recovered}}
      </div>
    </ion-col>
    <ion-col class="deceased">
      <div style="float:right">
        {{country.deaths}}
      </div>
    </ion-col>
  </ion-row>
  </div>


</ion-grid>




  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
