<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Global Status</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
 <img src="https://i.gifer.com/YyBB.gif">
<ion-card>

  <ion-card-header>
                 

    <ion-card-subtitle>Latest live feed</ion-card-subtitle>
    <ion-card-title>Current Status</ion-card-title>
  </ion-card-header>

  <ion-card-content>
            <ion-chip  color="secondary" item-content>
  <ion-label class="chip"  color="warning"><b>Total Confirmed:</b> {{global_confirmed}}</ion-label>
</ion-chip>
   <ion-chip color="secondary" item-content>
  <ion-label class="chip" color="danger"><b>Total Deaths:</b> {{global_recovered}}</ion-label>
</ion-chip>
   <ion-chip color="secondary" item-content>
  <ion-label class="chip" color="success"><b>Total Recovered:</b> {{global_deaths}}</ion-label>
</ion-chip>
  </ion-card-content>
</ion-card>



<ion-card>

  <ion-card-header>
                 

    <ion-card-title><b>Country Level Status</b></ion-card-title>
  </ion-card-header>

  <ion-card-content>
<ion-spinner *ngIf="spinnerFlag" name="lines"></ion-spinner>

<ion-grid>
  <ion-row  class="table">
    <ion-col class="location" size="4">
      <div>
        Location
      </div>
    </ion-col>
    <ion-col class="confirmed">
      <div>
        Confirmed
      </div>
    </ion-col>
    <ion-col class="recovered">
      <div>
        Recovered
      </div>
    </ion-col>
    <ion-col class="deceased">
      <div>
        Deaths
      </div>
    </ion-col>
  </ion-row>



<div  *ngFor="let state of stateArray">
    <hr id="divider">
    <ion-row class="table">
    <ion-col class="location" size="4">
      <div>
        {{state.name}}
      </div>
    </ion-col>
    <ion-col class="confirmed">
      <div style="float:right">
        {{state.totalCases}}
      </div>
    </ion-col>
    <ion-col class="recovered">
      <div style="float:right">
        {{state.recoveries}}
      </div>
    </ion-col>
    <ion-col class="deceased">
      <div style="float:right">
        {{state.deaths}}
      </div>
    </ion-col>
  </ion-row>
  </div>


</ion-grid>


  </ion-card-content>
</ion-card>

</ion-content>
