<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Covid 19 Live</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
<ion-searchbar (ionChange)="searchLiveData()" [(ngModel)]="searchValue" type="text" spellcheck="true" mode="ios" inputmode="text" autocomplete="on" animated></ion-searchbar>
        <div *ngIf="spinnerFlag">
<ion-spinner name="lines"></ion-spinner>
</div>
    

</ion-content>
<div class="footer">
<ion-footer mode="ios">
  <ion-toolbar id="container">
    <ion-label id="left">
    Confirmed: <span class="indicator_c">{{global_confirmed}} </span> </ion-label>
    <ion-label id="right">
    Deaths:<span class="indicator_d"> {{global_deaths}} </span></ion-label>
    <ion-label id="center">
    Recovered: <span class="indicator_r"> {{global_recovered}} </span></ion-label>

  </ion-toolbar>
</ion-footer>
</div>
